h1 {
  color: green;
}
/* #boxone{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: static;
}
#boxtwo{
    background-color: blue;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: fixed;
    bottom:10px;
} */
html,
body {
  height: 100%;
}
.father {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1.5s scaleAndRotateSqure ease-in-out;
}
@keyframes scaleAndRotateSqure {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn) scale(0.5, 0.5);
  }
}

body,
html {
  height: 100%;
  margine: 0;
  padding: 0;
}
body {
  height: 400%;
  background-color: rebeccapurple;
}

input[required="required"] {
  background-color: gold;
}
.box:last-child {
  background-color: pink;
}
.box:nth-child(2n) {
  background-color: greenyellow;
}
